nav {
	position: relative;
	height: 10%;
	padding: 1em;
}

nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1.2em;
}

nav ul li:first-child {
	float: left;
	margin-top: -18px;
	margin-left: -40px;
}

nav ul li:last-child {
	float: right;
	margin-top: -18px;
}

nav a {
	color: #fff;
}
